<!DOCTYPE html>
<html>
<body>
  <h1>3-6 Account 新規登録</h1>
  <form method="POST" action="/register">
    <input name="username" placeholder="ユーザー名" required><br>
    <input type="password" name="password" placeholder="パスワード" required><br>
    <button type="submit">登録</button>
  </form>
  <a href="/login">ログイン</a>
</body>
</html>
